* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: large;
    text-transform: uppercase;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}